Babel==2.11.0
cookiecutter==1.7.3
Django==3.2.16
h5py==2.10.0
joblib==1.1.0
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
mlflow==1.23.1
nltk==3.6.7
numpy==1.19.5
pandas==1.1.5
pickleshare==0.7.5
Pillow==8.4.0
regex==2022.4.24
requests==2.25.1
scikit-learn==0.24.2
scipy==1.4.1
seaborn==0.11.2
sklearn==0.0
sqlparse==0.4.3
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tqdm==4.64.0
urllib3==1.26.2
